- unless h_visitor_saw? 'comments_intro'
  - content_for :dialog_content do
    %p
      Ihr Kommentar geht nun in die
      = link_to 'Crowd-Moderation.', '#'
    
    %p
      Um ihn später
      %strong nochmals bearbeiten
      zu können oder über die Freigabe
      %strong informiert zu werden,
      geben Sie uns bitte Ihre E-Mail Adresse an.
    
  
  - content_for :dialog_actions do
    = render 'visitors/form', visitor: current_visitor
    .form_cancel= link_to 'Nein, danke', close_dialog_path( saw: 'comments_intro' ), remote: true, method: :put, 'data-turbolinks': false, class: 'button cancel'
  
  = render 'general/dialog'

= render 'arguments/show', argument: @comment.argument

