.field
  = f.check_box :option1
  = f.label :option1, 'ist Spam/ Werbung'

.field
  = f.check_box :option2
  = f.label :option2, 'ist hetzend/ beleidigend'

.field
  = f.check_box :option3
  = f.label :option3, 'ist unsachlich oder bösartig'

