- new_tab = h_partial_init new_tab, false
- # --------------------------------------------
- target = new_tab ? '_blank' : nil
- pros = h_args( procedure, 'pro' )
- infos = h_args( procedure, 'info' )
- contras = h_args( procedure, 'contra' )

- active_column = 'info'
- if infos.size < 1
  - active_column = 'contra' if contras.size > 0
  - active_column = 'pro' if pros.size > 0 and pros.size >= contras.size


%nav.arguments_nav
  .nav_column.pro{ class: active_column == 'pro' ? 'active' : nil, data: { kind: 'pro' } }
    = pros.size
    =t 'labels.pro'
    = link_to image_tag( 'sym/plus_w100.svg' ), new_procedure_argument_path( procedure, kind: 'pro' ), class: 'button_plus', target: target
  
  .nav_column.info{ class: active_column == 'info' ? 'active' : nil, data: { kind: 'info' } }
    = infos.size
    =t 'labels.info'
    = link_to image_tag( 'sym/plus_w100.svg' ), new_procedure_argument_path( procedure, kind: 'info' ), class: 'button_plus', target: target
  
  .nav_column.contra{ class: active_column == 'contra' ? 'active' : nil, data: { kind: 'contra' } }
    = contras.size
    =t 'labels.contra'
    = link_to image_tag( 'sym/plus_w100.svg' ), new_procedure_argument_path( procedure, kind: 'contra' ), class: 'button_plus', target: target
  

.arguments_columns
  .arguments_column.pro{ class: active_column == 'pro' ? 'active' : nil, data: { kind: 'pro' } }
    - if pros.blank?
      .help=t '.new_pro_arg'
    - else
      = render 'arguments/arguments_list', arguments: pros
  
  .arguments_column.info{ class: active_column == 'info' ? 'active' : nil, data: { kind: 'info' } }
    - if infos.blank?
      .help=t '.new_info_arg'
    - else
      = render 'arguments/arguments_list', arguments: infos
  
  .arguments_column.contra{ class: active_column == 'contra' ? 'active' : nil, data: { kind: 'contra' } }
    - if contras.blank?
      .help=t '.new_contra_arg'
    - else
      = render 'arguments/arguments_list', arguments: contras
  

