.help_separator#why

.help_page
  %h4
    Warum bringt das was?
  
  %p
    Viele Menschen wollen in einer Gruppe
    %strong Entscheidungen treffen,
    ohne dass eine Person alleine bestimmt. Zum Beispiel in Familie, in Arbeitsgruppen, im Verein oder in der Politik.
  
  %p
    %strong Mitwirkung verbessert Entscheidungen
  
  %p
    Wenn alle Menschen zu dieser Entscheidung angehört werden und ihre Argumente einbringen können, wird die
    %strong Entscheidung besser
    und sie
    %strong wird eher akzeptiert,
    auch wenn sie vielleicht nicht so ausfällt, wie sich Einzelne wünschen.
  
  %p
    In einem Pro-Contra-Mitwirkungsforum kann jeder Betroffene teilnehmen und bei Bedarf mitentscheiden.
  
  .link_list
    = link_to 'Mitwirkung privat&nbsp;&rarr;'.html_safe, '/info/participation_private#participation_private'
    = link_to 'Mitwirkung bei der Arbeit&nbsp;&rarr;'.html_safe, '/info/participation_work#participation_work'
    = link_to 'Mitwirkung im Verein&nbsp;&rarr;'.html_safe, '/info/participation_union#participation_union'
    = link_to 'Mitwirkung in der Politik&nbsp;&rarr;'.html_safe, '/info/participation_politics#participation_politics'
  
  %p
    %br
    = link_to 'Loslegen', bodies_path, class: 'button'
  

