.help_separator#why

.help_page
  %h4
    What's it all for?
  
  %p
    A lot of people prefer to
    %strong form decisions
    as a group rather than letting only one person calling the shots. This concerns family life, work related groups, non-profit organisations and politics.
  
  %h5 Participation improves decisions
  
  %p
    If everyone's opinion regarding a decision is heard and all arguments can be brought up, the decision will not only
    %strong be better,
    it will be
    %strong more widely accepted,
    even if it may not turn out as some individuals would like.
  
  %p
    In a participation forum with pro/con structure, everyone who is affected by a decision can participate and, when necessary, co-decide.
  
  .link_list
    = link_to 'Participation - private life&nbsp;&rarr;'.html_safe, '/info/participation_private#participation_private'
    = link_to 'Participation - job&nbsp;&rarr;'.html_safe, '/info/participation_work#participation_work'
    = link_to 'Participation - unions & non-profits&nbsp;&rarr;'.html_safe, '/info/participation_union#participation_union'
    = link_to 'Participation - politics&nbsp;&rarr;'.html_safe, '/info/participation_politics#participation_politics'
  
  %p
    %br
    = link_to 'Do it', bodies_path, class: 'button'
  

