.main_content
  %h3 Datenschutzerklärung
  %p
    Nachfolgend möchten wir Sie über unsere Datenschutzerklärung informieren. Sie finden hier Informationen über die Erhebung und Verwendung persönlicher Daten bei der Nutzung unserer Webseite. Wir beachten dabei das für Deutschland geltende Datenschutzrecht. Sie können diese Erklärung jederzeit auf unserer Webseite abrufen.
  
  %p
    Wir weisen ausdrücklich darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen und nicht lückenlos vor dem Zugriff durch Dritte geschützt werden kann.
  
  %p
    Die Verwendung der Kontaktdaten unseres Impressums zur gewerblichen Werbung ist ausdrücklich nicht erwünscht, es sei denn wir hatten zuvor unsere schriftliche Einwilligung erteilt oder es besteht bereits eine Geschäftsbeziehung. Der Anbieter und alle auf dieser Website genannten Personen widersprechen hiermit jeder kommerziellen Verwendung und Weitergabe ihrer Daten.
  
  %h4 Personenbezogene Daten
  %p
    Sie können unsere Webseite ohne Angabe personenbezogener Daten besuchen. Soweit auf unseren Seiten personenbezogene Daten (wie Name, Anschrift oder E-Mail Adresse) erhoben werden, erfolgt dies, soweit möglich, auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. Sofern zwischen Ihnen und uns ein Vertragsverhältnis begründet, inhaltlich ausgestaltet oder geändert werden soll oder Sie an uns eine Anfrage stellen, erheben und verwenden wir personenbezogene Daten von Ihnen, soweit dies zu diesen Zwecken erforderlich ist (Bestandsdaten). Wir erheben, verarbeiten und nutzen personenbezogene Daten soweit dies erforderlich ist, um Ihnen die Inanspruchnahme des Webangebots zu ermöglichen (Nutzungsdaten). Sämtliche personenbezogenen Daten werden nur solange gespeichert wie dies für den genannten Zweck (Bearbeitung Ihrer Anfrage oder Abwicklung eines Vertrags) erforderlich ist. Hierbei werden steuer- und handelsrechtliche Aufbewahrungsfristen berücksichtigt. Auf Anordnung der zuständigen Stellen dürfen wir im Einzelfall Auskunft über diese Daten (Bestandsdaten) erteilen, soweit dies für Zwecke der Strafverfolgung, zur Gefahrenabwehr, zur Erfüllung der gesetzlichen Aufgaben der Verfassungsschutzbehörden oder des Militärischen Abschirmdienstes oder zur Durchsetzung der Rechte am geistigen Eigentum erforderlich ist.
  
  %h4 Kommentarfunktionen
  %p
    Wir erheben personenbezogene Daten im Rahmen der Veröffentlichung eines Inhalts oder einer Kommentierung zu einem Artikel oder Beitrag nur in dem Umfang, wie sie von Ihnen mitgeteilt werden. Bei der Veröffentlichung eines Kommentars wird die von Ihnen angegebene Email-Adresse gespeichert, aber nicht veröffentlicht. Ihr Name wird veröffentlicht, wenn Sie nicht unter Pseudonym geschrieben haben.
  
  %h4 Datenschutzerklärung für die Newsletterfunktion
  %p
    Durch die freiwillige Eintragung Ihrer E-Mail-Adresse in unseren Newsletter und Bestätigung dieser per Double-Opt-In-Verfahren erklären Sie Ihre Einwilligung, dass Sie unseren E-Mail-Newsletter erhalten möchten. Sie können dieser Verwendung Ihrer E-Mail-Adresse jederzeit widersprechen, ohne dass hierfür andere als die Übermittlungskosten nach den Basistarifen entstehen. Sie können sich jederzeit aus dem Newsletter abmelden. Jede E-Mail enthält einen „Abmelden“-Link. Für den Empfang des Newsletters ist die Angabe einer E-Mail-Adresse ausreichend. Zusätzliche freiwillige Angaben dienen lediglich der Personalisierung des Newsletters.
  
  - if false # kein FB
    %h4 Datenschutzerklärung für das Facebook-Plugin („Gefällt mir“)
    %p
      Diese Webseite nutzt Plugins des Anbieters Facebook.com, welche durch das Unternehmen Facebook Inc., 1601 S. California Avenue, Palo Alto, CA 94304 in den USA bereitgestellt werden. Nutzer unserer Webseite, auf der das Facebook-Plugin („Gefällt mir“-Button) installiert ist, werden hiermit darauf hingewiesen, dass durch das Plugin eine Verbindung zu Facebook aufgebaut wird, wodurch eine Übermittlung an Ihren Browser durchgeführt wird, damit das Plugin auf der Webseite erscheint.
    
    %p
      Des Weiteren werden durch die Nutzung Daten an die Facebook-Server weitergeleitet, welche Informationen über Ihre Webseitenbesuche auf unserer Homepage enthalten. Dies hat für eingeloggte Facebook-Nutzer zur Folge, dass die Nutzungsdaten Ihrem persönlichen Facebook-Account zugeordnet werden.
    
    %p
      Sobald Sie als eingeloggter Facebook-Nutzer aktiv das Facebook-Plugin nutzen (z.B. durch das Klicken auf den „Gefällt mir“ Knopf oder die Nutzung der Kommentarfunktion), werden diese Daten zu Ihrem Facebook-Account übertragen und veröffentlicht. Dies können Sie nur durch vorheriges Ausloggen aus Ihrem Facebook-Account umgehen.
    
    %p
      Weitere Information bezüglich der Datennutzung durch Facebook entnehmen Sie bitte den datenschutzrechtlichen Bestimmungen auf Facebook unter
      = link_to 'http://de-de.facebook.com/policy.php', 'http://de-de.facebook.com/policy.php', target: '_blank', rel: 'nofollow'
    
  
  - if false # kein GAnalytics
    %h4 Datenschutzerklärung für den Webanalysedienst Google Analytics
    %p
      Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Wir haben die IP-Anonymisierung aktiviert. Auf dieser Webseite wird Ihre IP-Adresse von Google daher innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
    
    %p
      Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren:
      = link_to 'http://tools.google.com/dlpage/gaoptout?hl=de', 'http://tools.google.com/dlpage/gaoptout?hl=de', target: '_blank', rel: 'nofollow'
    
  - if false # kein GMaps
    %h4 Datenschutzerklärung für Google Maps von Google Inc.
    %p
      Diese Website verwendet die „Google Maps und Routenplaner“- Funktion der Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States („Google“), um geographische Informationen und Anfahrtrouten darzustellen bzw. zu berechnen. Durch Google Maps können Daten über Ihre Nutzung dieser Webseite an Google übertragen, erhoben und von Google genutzt werden. Sie können eine solche Datenübertragung verhindern, wenn Sie in Ihrem Browser „Javascript“ deaktivieren. In dem Falle können aber keine Karten angezeigt werden. Durch die Nutzung dieser Webseite und die Nichtdeaktivierung von „Javascript“ erklären Sie Ihr Einverständnis, dass Sie mit der Bearbeitung Ihrer Daten durch Google zum obigen Zwecke einverstanden sind.
    %p
      Weitere Informationen darüber wie „Google Maps“ und der Routenplaner Ihre Daten verwenden sowie die Datenschutzerklärung von Google finden Sie unter:
      = link_to 'https://www.google.com/intl/de_de/help/terms_maps.html', 'https://www.google.com/intl/de_de/help/terms_maps.html', target: '_blank', rel: 'nofollow'
    
  - if false # kein AdWords
    %h4 Datenschutzerklärung für das „Google AdWords Conversion-Tracking“ von Google Inc.
    %p
      Diese Website verwendet die „Google AdWords Conversion-Tracking“- Funktion der Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States („Google“). Google AdWords Conversion-Tracking verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen, wenn Sie auf eine Google-Anzeige gekickt haben. Die Cookies sind maximal 90 Tagen gültig. Personenbezogene Daten werden dabei nicht gespeichert. Solange das Cookie gültig ist, können Google und wir als Webseitenbetreiber erkennen, dass Sie eine Anzeige geklickt haben und zu einer bestimmten Zielseite (z.B. Bestellbestätigungsseite, Newsletteranmeldung) gelangt sind. Diese Cookies können nicht über mehrere Websites von verschiedenen AdWords-Teilnehmern nachverfolgt werden können. Durch das Cookie werden in „Google AdWords“ Conversion-Statistiken erstellt. In diesen Statistiken wird die Anzahl der Nutzer, die auf eine unserer Anzeige geklickt haben, erfasst. Zudem wird gezählt, wie viele Nutzer zu einer Zielseite, die mit einem „Conversion-Tag“ versehen worden ist, gelangt sind. Die Statistiken enthalten jedoch keine Daten, mit denen Sie sich identifizieren lassen.
    
    %p
      Das Speichern von Cookies auf Ihrer Festplatte können Sie verhindern, indem Sie in Ihren Browser-Einstellungen "keine Cookies akzeptieren" wählen (Im MS Internet-Explorer unter "Extras > Internetoptionen > Datenschutz > Einstellung"; im Firefox unter "Extras > Einstellungen > Datenschutz > Cookies"); wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.
    
    %p
      Weitere Informationen darüber wie Google Conversion-Daten verwendet sowie die Datenschutzerklärung von Google finden Sie unter:
      = link_to 'https://support.google.com/adwords/answer/93148?ctx=tltp', 'https://support.google.com/adwords/answer/93148?ctx=tltp', target: '_blank', rel: 'nofollow'
      %br
      = link_to 'http://www.google.de/policies/privacy/', 'http://www.google.de/policies/privacy/', target: '_blank', rel: 'nofollow'
    
  - if false # kein Twitter
    %h4 Datenschutzerklärung für die Nutzung von dem Webmessagedienst twitter.com
    %p
      Wir haben auf unserer Webseite auch den Webmessagedienst twitter.com integriert. Dieser wird durch die Twitter Inc., 1355 Market St, Suite 900, San Francisco, CA 94103, USA bereitgestellt. Twitter bietet die sog. „Tweet“ – Funktion an. Damit kann man 140 Zeichen lange Nachrichten auch mit Webseitenlinks in seinem eigenen Twitteraccount veröffentlichen. Wenn Sie die „Tweet“-Funktion von Twitter auf unseren Webseiten nutzen, wird die jeweilige Webseite mit Ihrem Account auf Twitter verknüpft und dort ggf. öffentlich bekannt gegeben. Hierbei werden auch Daten an Twitter übertragen.
    
    %p
      Von dem Inhalt der übermittelten Daten und deren Nutzung durch Twitter erhalten wir keine Kenntnis. Konsultieren Sie daher für weitere Informationen die Datenschutzerklärung von Twitter:
      = link_to 'http://twitter.com/privacy', 'http://twitter.com/privacy', target: '_blank', rel: 'nofollow'
    
    %p
      Twitter bietet Ihnen unter nachfolgendem Link die Möglichkeit, Ihre Datenschutzeinstellungen selbst festzulegen:
      = link_to 'http://twitter.com/account/settings', 'http://twitter.com/account/settings', target: '_blank', rel: 'nofollow'
    
  - if false # kein Xing
    %h4 Datenschutzerklärung für die XING-Empfehlungsfunktion
    %p
      Diese Webseite verwendet Funktionen der XING AG, Dammtorstraße 29-32, 20354 Hamburg, Deutschland. Bei jedem Aufruf unserer Webseite, die mit einer solchen Funktion ausgestattet ist, veranlasst diese, dass der von Ihnen verwendete Browser eine Verbindung zu Servern von XING herstellt. Personenbezogene Daten über den Aufruf unserer Webseite werden nach unserer Kenntnis dabei nicht gespeichert. XING speichert auch keine IP-Adressen und eine Auswertung des Nutzungsverhaltens über die Verwendung von Cookies im Zusammenhang mit dem “XING Share-Button” findet ebenfalls nicht statt.
    
    %p
      Weitere Informationen zum Datenschutz beim „XING Share-Button“ finden Sie unter:
      = link_to 'https://www.xing.com/app/share?op=data_protection', 'https://www.xing.com/app/share?op=data_protection', target: '_blank', rel: 'nofollow'
    
  
  %h4 Auskunftsrecht
  %p
    Sie haben das jederzeitige Recht, sich unentgeltlich und unverzüglich über die zu Ihrer Person erhobenen Daten zu erkundigen. Sie haben das jederzeitige Recht, Ihre Zustimmung zur Verwendung Ihrer angegeben persönlichen Daten mit Wirkung für die Zukunft zu widerrufen. Zur Auskunftserteilung wenden Sie sich bitte an den Anbieter unter den Kontaktdaten im Impressum.
  
  %br
  %p
    Quelle:
    = link_to 'Datenschutz Vorlage von JuraForum.de',
          'https://www.juraforum.de/impressum-generator/',
          target: '_blank', rel: 'nofollow'
  

