<!DOCTYPE html>
<html class="no-js" lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-TileColor" content="#eeeeee" />
    
    <%= render 'layouts/opengraph' %>
    
    <link rel="icon" href="<%= path_to_image 'logo_gremien_q96.png' %>" />
    <link rel="apple-touch-icon-precomposed" href="<%= path_to_image 'logo_gremien_q152.jpg' %>" />
    <link rel="icon" sizes="152x152" href="<%= path_to_image 'logo_gremien_q152.jpg' %>" />
    <link rel="icon" sizes="192x192" href="<%= path_to_image 'logo_gremien_q192.jpg' %>" />
    
    <title><%= h_og_title %> | Mitwirkungsforen für alle</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'modernizr' %>
    <%= javascript_include_tag 'application', { 'data-turbolinks-track': 'reload', defer: 'true' } %>
  </head>
  
  <body class="page_<%= params[ :controller ] %>_<%= params[ :action ] %>">
    <%= render 'layouts/titlebar' %>
    <main>
      <%= render 'layouts/flash' %>
      <%= yield %>
    </main>
    
  </body>
</html>
