- h_title 'Neues Kennwort'
- h_titlebar_text 'Neues Kennwort'

.entity_form
  %h4 Setzen Sie ein neues Kennwort
  %p
    Ein sicheres Kennwort sollte mindestens 8 Zeichen und Zahlen und Sonderzeichen enthalten.
  
  .account_form
    = form_for @account do |f|
      - if @account.errors.any?
        #error_explanation
          %h2
            = @account.errors.count
            Fehler!
            Der Zugang kann nicht gesichert werden.
          
          %ul
            - @account.errors.full_messages.each do |message|
              %li= message
            
          
        
      
      .field
        = f.label :password, 'Kennwort'
        = f.password_field :password, autofocus: !@account.email.blank?, placeholder: 'min. 8 verschiedene Zeichen'
      
      .field
        = f.label :password_confirmation, 'Bitte Kennwort bestätigen'
        = f.password_field :password_confirmation, placeholder: '...hier nochmals eintippen'
      
      .actions
        = f.submit 'Sichern', class: 'button'
      
    
  
  .form_cancel
    = link_to 'Abbrechen', account_path( id: 'me' ), class: 'button cancel'
  

